* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.plex {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	overflow: hidden;
	background-color: rgba(0, 0, 0);
	padding: 20px 0;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;

	z-index: 1;
}

#header-img {
	width: 250px;
	height: 40px;
	right: 500;
}

#header ul {
	gap: 20px;
	list-style: none;
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: white;
}

.search-wrapper {
	width: 400px;
	max-width: 100%;
	position: relative;
}

.search-input {
	height: 35px;
	width: 100%;
	/* Width 400 with the 2 buttons included */
}

.search-icon {
	height: 50%;
	width: auto;

	position: absolute;
	right: 60px;
	top: 25%;
}

#main-container {
	flex-direction: column;
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 80px;
}

.page-title {
	font-size: 3rem;
	margin-top: 20px;
}

.middle-feature-text,
.feature-text {
	font-size: 3rem;
}

form {
	flex-direction: column;
}

form * {
	margin-top: 20px;
}

.text-input {
	padding: 10px 20px;
	border-radius: 5px;
	border-style: 1px solid black;
	color: gray;
	/* background-color: white; */
}

#submit {
	border-radius: 5px;
	border-style: none;
	background-color: rgba(247, 247, 70, 0.9);
	color: black;
	height: 50px;
	font-size: 2rem;
	padding: 10px;
}

#membership-submit,
#standard-submit,
#premium-submit {
	border-radius: 5px;
	border-style: none;
	background-color: rgba(247, 247, 70, 0.8);
	font-weight: bold;
	color: black;
	height: 30px;
	font-size: 1.5rem;
	padding: 5px;
}

/* UPPER CONTENT - 1ST FEATURE (PREMIUM MATERIALS) */

.upper-content-div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	width: 100%;
	height: 550px;
	padding: 30px;
	background-image: linear-gradient(
			20deg,
			rgba(8, 8, 9, 0.8),
			rgba(17, 17, 47, 0.8)
		),
		url(https://i.pinimg.com/736x/e8/68/b6/e868b678e3c7e0e0387323849a0eb5d7.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.left-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	gap: 20px;
	flex: 1 2 auto;
}

.left-content .main-img {
	display: flex;
	width: 300px;
	height: 400px;
	border: 2px solid rgba(54, 58, 76, 0.5);
	box-sizing: border-box;
}

.left-content ul {
	list-style: none;
}
.side-img {
	width: 150px;
	height: 133px;
	border: 2px solid rgba(54, 58, 76, 0.5);
}
.right-content {
	flex: 3 1 auto;
	color: white;
	text-align: end;
}

.feature-text {
	padding-right: 10vw;
}

.text {
	font-size: 1.8rem;
	line-height: 3rem;
	min-width: auto;
	max-width: 600px;
	text-align: justify;
	background-color: rgba(54, 58, 76, 0.5);

	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.text-pad {
	display: block;
	padding-top: 20px;
}

/* UPPER CONTENT - 2ND FEATURE (EASY ACCESS) */
.middle-content-div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	width: 100%;
	height: 550px;
	padding: 30px;
	background-image: linear-gradient(
			30deg,
			rgba(0, 0, 0, 0.8),
			rgba(17, 17, 47, 0.8)
		),
		url(https://lh3.googleusercontent.com/drive-viewer/AK7aPaDjYs9b4-cjltbS8ZuB7_FmY2NG_Uu-3qLnnC1m6CxkdBKrB3EYF1Stct8faZYiz5SlNTAe4akINAysggBwt_sD8YJb=s1600);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.middle-left-content {
	flex: 3 1 auto;
	color: white;
	text-align: start;
}

.middle-feature-text {
	padding-left: 10vw;
}

.phone-img {
	width: 500px;
	height: 300px;
	image-rendering: auto;
}

.middle-right-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 40%;
	gap: 20px;
	flex: 1 2 auto;
}

.right-content .main-img {
	display: flex;
	width: 300px;
	height: 400px;
	box-sizing: border-box;
}

.middle-right-content ul {
	list-style: none;
}

.phone-btn {
	display: flex;
	gap: 20px;
}
.btn {
	width: 200px;
	height: 50px;
}

/* UPPER CONTENT - 3RD FEATURE */
.bottom-content-div {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	width: 100%;
	height: 550px;
	padding: 30px;
	background-image: linear-gradient(
			30deg,
			rgba(0, 0, 0, 0.8),
			rgba(17, 17, 47, 0.8)
		),
		url(https://img.freepik.com/free-vector/futuristic-technology-background_52683-35442.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;

	color: white;
}

.bottom-feature-text {
	text-align: center;
	font-size: 3rem;
}

.bottom-content-list {
	display: flex;
	flex-flow: wrap;
	list-style: none;
	gap: 20px;
	font-size: 2rem;
}

.bottom-content-list li {
	flex: 1 1 30%;
	/* column-count: 2; */
}

.bottom-content-list img {
	width: 80px;
	background: none;
}
.no-bg {
	background: none;
}
/* MIDDLE CONTENT - HOW IT WORKS */

.yt-video {
	margin: 40px 0;
	width: 700px;
	height: 400px;
}

/* LOWER CONTENT - OFFERS */
.lower-content-div {
	width: 60%;
	justify-content: center;
	flex-wrap: wrap;
	align-items: start;
	height: auto;
	gap: 20px;
}

.lower-content {
	flex: 0 1 250px;
	border: 1px solid black;
	min-width: 250px;
}

.lower-content h1 {
	background-color: rgba(54, 58, 76, 0.2);
}

.price {
	display: block;
	padding: 20px;
	font-size: 2.5rem;
}

.lower-content p {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 2rem;
	text-align: start;
	padding: 0 20px;
}

.lower-content input {
	margin: 20px;
	font-size: 1rem;
}

/* FOOTER */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	width: 100%;
	height: 80px;
	background-color: black;
	font-size: 2rem;
	gap: 10px;
	color: white;
}

footer ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 20px;
}

.bold {
	font-weight: bold;
}

/* FLOATING BUTTON */
.circle-button {
	width: 40px;
	height: 40px;
	background-color: #ffff00;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;

	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
	.text {
		width: 450px;
	}

	.phone-img {
		width: 400px;
		height: 250px;
	}

	.yt-video {
		width: 600px;
		height: 350px;
	}
}

@media only screen and (max-width: 1000px) {
	.side-img {
		display: none;
	}
	.phone-img {
		width: 300px;
		height: 250px;
	}

	.btn {
		width: 150px;
		height: 50px;
	}

	.yt-video {
		width: 500px;
		height: 300px;
	}
}

@media only screen and (max-width: 850px) {
	.left-content,
	.middle-right-content {
		display: none;
	}

	.text {
		line-height: 2.5rem;
	}

	.upper-content-div {
		background-image: linear-gradient(
				20deg,
				rgba(8, 8, 9, 0.8),
				rgba(125, 125, 213, 0.2)
			),
			url(https://i.pinimg.com/736x/e8/68/b6/e868b678e3c7e0e0387323849a0eb5d7.jpg);
	}

	.middle-content-div {
		background-image: linear-gradient(
				30deg,
				rgba(0, 0, 0, 0.8),
				rgba(200, 200, 200, 0.2)
			),
			url(https://lh3.googleusercontent.com/drive-viewer/AK7aPaDjYs9b4-cjltbS8ZuB7_FmY2NG_Uu-3qLnnC1m6CxkdBKrB3EYF1Stct8faZYiz5SlNTAe4akINAysggBwt_sD8YJb=s1600);
	}

	.bottom-content-div {
		background-image: linear-gradient(
				30deg,
				rgba(0, 0, 0, 0.8),
				rgba(17, 17, 47, 0.2)
			),
			url(https://img.freepik.com/free-vector/futuristic-technology-background_52683-35442.jpg);
	}

	.yt-video {
		width: 400px;
		height: 250px;
	}

	footer {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 600px) {
	#nav-bar .plex {
		flex-direction: column;
		font-size: 1.5rem;
		gap: 5px;
	}

	.text-pad {
		display: none;
	}

	.feature-text,
	.middle-feature-text {
		position: relative;
		padding: 0;
		text-align: center;
		top: -50px;
	}

	.text {
		width: max(100px, 300px);
		padding: 20px, 0px;
	}

	.bottom-content-list li {
		flex: 1 1 20%;
		/* column-count: 2; */
	}
}
